@'
# Requirements to run this project:

- Must have a GitHub account.
- Must have Docker , "not necessary now"
- Windows powershell.
- Must have GitHub CLI installed (Run: winget install --id GitHub.cli)
'@ | Out-File -FilePath requirements.txt -Encoding utf8
